In [1]:
#tuple1=tuple()
#empty tuple
#tuple2=tuple(2) it is not tuple becouse it is belonging to interger class
#tuple3=tuple(2,) it is tuple # here after the element you need comma
a="parjwal"
tuple1=tuple(a)
print(tuple1)

('p', 'a', 'r', 'j', 'w', 'a', 'l')

In [2]:
a=[1,2,3,4,5,6,7,8,9]
print(a)
tuple1=tuple(a)
print(tuple1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#slicing
#Updating tuple
#Delete tuple
#Tuple length
#Concatenate 
#Repetition

In [5]:
tuple1=("prajwal")
print(type(tuple1))

<class 'str'>

In [15]:
#Traversing:
tuple=(1,2,3,4)
for t in tuple:
    print(t)

1
2
3
4

In [16]:
#traversing:
tuple=(1,2,3,4,5)
for i in range(len(tuple)):
    print(tuple[i])

1
2
3
4
5

In [18]:
#Repetition/Replecation
tuple=(1,2,3,4,5)
tuple1=tuple*3
print(tuple1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [22]:
tuple1=("ram","shyam","sita","gita","prajwal")
print(tuple1)
print("ram" in tuple1)

('ram', 'shyam', 'sita', 'gita', 'prajwal')
True

In [25]:
tuple1=("ram","shyam","sita","gita","radha")
tuple=tuple1[1:5]
print(tuple)

('shyam', 'sita', 'gita', 'radha')

In [26]:
tuple=(10,20,40,50,60,70,80,90)
tuple1=tuple[-1::-1]
print(tuple1)

(90, 80, 70, 60, 50, 40, 20, 10)

In [30]:
tuple=(90,80,70,50,30,10)
print(sorted(tuple))

[10, 30, 50, 70, 80, 90]

In [33]:
tuple1=(10,20,30,40)
tuple2=(90,100,101)
tuple3=tuple1+tuple2
print(tuple3)

(10, 20, 30, 40, 90, 100, 101)

In [7]:
#len():
tuple=("shyam","radha","ram","sita")
print("Original tuple is:",tuple)
print("length of the tuple is:",len(tuple))

Original tuple is: ('shyam', 'radha', 'ram', 'sita')
length of the tuple is: 4

In [8]:
#max():
tuple=("ram","sita","shyam","krishna")
print("Original tuple is:",tuple)
max (tuple)
print(tuple)

Original tuple is: ('ram', 'sita', 'shyam', 'krishna')
('ram', 'sita', 'shyam', 'krishna')

In [10]:
tuple=(10,20,30,40,50,60)
print("original tuple is:",tuple)
max (tuple)

original tuple is: (10, 20, 30, 40, 50, 60)

60

In [15]:
#index
a=(10,20,30,40,50)
print(type(a))
b=a.index(30)
print("index of 30 is:",b)
c=a.index(50)
print("index of 50 is:",c)

<class 'tuple'>
index of 30 is: 2
index of 50 is: 4

In [20]:
#count
tuple=("ram","shyam","sita","gita","ram","sita")
print("original tuple is:",tuple)
a=tuple.count("ram")
print("Check the frequency of the tuple:",a)
b=tuple.count("sita")
print("Check the frequency of the tuple:",b)

original tuple is: ('ram', 'shyam', 'sita', 'gita', 'ram', 'sita')
Check the frequency of the tuple: 2
Check the frequency of the tuple: 2

In [24]:
x=("prajwal","kiwi","jon","lily")
y=list(x)
y[2]="jonson"
x=tuple(y)
print(x)

TypeError: 'tuple' object is not callable

In [25]:
tuple=("ram","shyam","sita","gita")
print(tuple)
tuple[4]="prajwal"
print(tuple)

('ram', 'shyam', 'sita', 'gita')

TypeError: 'tuple' object does not support item assignment

In [1]:
a=(1,2,3,4,"ram","shyam","sita")
print(type(a))

<class 'tuple'>

In [1]:
t1="prajwal"
t2=tuple(t1)
print(t2)

('p', 'r', 'a', 'j', 'w', 'a', 'l')

In [2]:
t1=(1,2,3,4)
t2=(8,5,8,0)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 8, 5, 8, 0)

In [4]:
t=(1,2,3,4,5)
print(t1)
print(t1*3)

(1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
tuple=(10,20,30,40,50,60,70,80,90)
print("original tuple is:",tuple)
tuple[2:5]

original tuple is: (10, 20, 30, 40, 50, 60, 70, 80, 90)

(30, 40, 50)

In [7]:
#used a step value
tuple=(10,20,30,40,50,60,70,80,90)
tuple[0::2]

(10, 30, 50, 70, 90)

In [24]:
import sys
tuple=(10,20,30,40,50,60,70,80,"z","a","p","prajwal")
list=[10,20,30,40,50,60,70,80,"z","a","p","prajwal"]
print("size of tuple:",sys.getsizeof(tuple))
print("size of list:",sys.getsizeof(list))

size of tuple: 136
size of list: 152

In [25]:
tuple=(1,2,3,4,'p','c','d','prajwal')
tuple

(1, 2, 3, 4, 'p', 'c', 'd', 'prajwal')

In [27]:
#len() function
tuple=(1,2,3,4,'p','c','d','prajwal')
print("Original tuple is:",tuple)
print("length of the tuple is:",len(tuple))

Original tuple is: (1, 2, 3, 4, 'p', 'c', 'd', 'prajwal')
length of the tuple is: 8

In [2]:
#max()
t1=(1,2,3,4)
print(max(t1))

4

In [3]:
t1=(0,1,2,3,4,5,6)
print("original tuple is:",t1)
t2=min(t1)
print("minimum value in tuple is:",t2)

original tuple is: (0, 1, 2, 3, 4, 5, 6)
minimum value in tuple is: 0

In [4]:
t1=(0,1,2,3,4,5,6)
print("Original tuple is:",t1)
t2=sum(t1)
print("Sum of tuple elements is:",t2)

Original tuple is: (0, 1, 2, 3, 4, 5, 6)
Sum of tuple elements is: 21

In [5]:
tuple=(1,2,3,4)
print("Oginal list is:",tuple)
print("Replication of the tuple element:",tuple*3)

Oginal list is: (1, 2, 3, 4)
Replication of the tuple element: (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
tuple=(2,4,6,8,9,0)
sorted(tuple)

[0, 2, 4, 6, 8, 9]

In [1]:
t1=(1,2,3,4,[90,70,50])
print(t1)

(1, 2, 3, 4, [90, 70, 50])

In [9]:
t1=(1,2,3,4,[90,70,50])
print(t1)
del t1[4][0]
print(t1)

(1, 2, 3, 4, [90, 70, 50])
(1, 2, 3, 4, [70, 50])

In [15]:
tuple=(1,2,3,4,5,[1,2,3,4,5])
print(tuple)
tuple[5].append("prajwal")
print(tuple)

(1, 2, 3, 4, 5, [1, 2, 3, 4, 5])
(1, 2, 3, 4, 5, [1, 2, 3, 4, 5, 'prajwal'])

In [1]:
a="prajwal"
print(type(a))

<class 'str'>

In [3]:
a="prajwal"
print("Given strig is:",a)
for i in a:
    print(i)

Given strig is: prajwal
p
r
a
j
w
a
l

In [4]:
a="prawjal"
print("given string is:",a)
for i in range(len(a)):
    print(a[i])

given string is: prawjal
p
r
a
w
j
a
l

In [7]:
a="prajwal"
b="krishna"
c=a+b
print(c)

prajwalkrishna

In [8]:
a="prajwal"
print(3*"prajwal")

prajwalprajwalprajwal

In [10]:
a="prajwal"
print(a)
if "j" in a:
    print("yes j is present in string")
else: 
    print("no j is not present in string")

prajwal
yes j is present in string

In [20]:
a="prajwal"
print("original string:",a)
a[2:7]

original string: prajwal

'ajwal'

In [21]:
a="prajwal"
print(len(a))

7

In [22]:
a="prajwal"
print("original srting:",a)
print("reverse srting is:",a[-1::-1])

original srting: prajwal
reverse srting is: lawjarp

In [23]:
i=1
while i<=5:
    j=1
    while(j<=i):
        print('@',end='')
        j+=1
    print()
    i+=1

@
@@
@@@
@@@@
@@@@@

In [29]:
i=1
while(i<=5):
    b=1
    while(b<=5-i):
        print(' ',end='')
        b+=1
    j=1
    while(j<=i):
        print('*',end=' ')
        j+=1
    print()
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [33]:
a=input("Enter the stirng:")
vowel=0
consonants=0
for i in range(0,len(a)):
    if(a[i]!=" "):
        if(a[i]=="a" or a[i]=="e" or a[i]=="i" or a[i]=="o" or a[i]=="u" or a[i]=="A" or a[i]=="E" or a[i]=="I" or a[i]=="O" or a[i]=="U"):
            vowel+=1
        else:
            consonants+=1
print("total vowels:",vowel)  
print("total consonants:",consonants)

total vowels: 2
total consonants: 5

In [37]:
a=input("Enter the string:")
vowel=0
conso=0
for i in range(0,len(a)):
    if(a[i]!=''):
        if(a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' or a[i]=='A' or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U'):
            vowel+=1
        else:
             conso+=1
print("total vowel:",vowel)
print("total conso:",conso)

total vowel: 8
total conso: 13

In [39]:
a="shyam"
b=a.capitalize()
print(b)

Shyam

In [48]:
str1="Good Day"
print(str1.find("d"))

3

In [49]:
a="Python"
b="Training"
c=5000
print("Wellcome to",a,b,"Fees is",c)

Wellcome to Python Training Fees is 5000

In [50]:
a="python"
b="training"
fees=5000
print("Wellcome to %s %s fee is %d" % (a,b,fees) )

Wellcome to python training fee is 5000

In [55]:
a="prajwal"
print(a * 2)

   prajwal     prajwal

In [56]:
a="Python"
b="training"
fees=5000
print("Wellcome to %s %s fees is %f" %(a,b,fees))

Wellcome to Python training fees is 5000.000000

In [3]:
#length of the tuple inside list:
list1=[(1,2,3),('x','y','z','A')]
print(list1)
print(len(list1))
print(len(list1[1]))

[(1, 2, 3), ('x', 'y', 'z', 'A')]
2
4

In [6]:
list2=[('pajju','lilly','jonson','jone'),(1,2,3,4,5,6,7,8)]
print(list2)
print(len(list2))
print(len(list2[1]))
print(len(list2[0]))

[('pajju', 'lilly', 'jonson', 'jone'), (1, 2, 3, 4, 5, 6, 7, 8)]
2
8
4

In [11]:
#len,min,max of the tuple (base on the ascii value)
tuple1=('parjwal','lilly','jully','jonson')
tuple2=(1,2,3,4,5,6)
print("length of the rtuple:",len(tuple1))
print('maximum value in tuple2:',max(tuple2))
print("minimum value in tule2:",min(tuple2))

length of the rtuple: 4
maximum value in tuple2: 6
minimum value in tule2: 1

In [14]:
tuple1=("pajju","radha","krishna","rama","shyama")
print(tuple1)
print(max(tuple1))

('pajju', 'radha', 'krishna', 'rama', 'shyama')
shyama

In [19]:
#multiplication/replication
pajju1=(1,2,3,4,5,'x','y','z')
print("original tuple is:",pajju1)
print(pajju1*3)

original tuple is: (1, 2, 3, 4, 5, 'x', 'y', 'z')
(1, 2, 3, 4, 5, 'x', 'y', 'z', 1, 2, 3, 4, 5, 'x', 'y', 'z', 1, 2, 3, 4, 5, 'x', 'y', 'z')

In [23]:
#Multiply one element
tuple1=(10,20,30)
print(tuple)
tuple2=tuple1[:2]
tuple3=tuple1[2:]*3
tuple1=tuple2+tuple3
print(tuple1)

(10, 20, 30)
(10, 20, 30, 30, 30)

In [26]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [37]:
tuple=("prajwal","kanchan","radha","krishna",[1,2,3,4,5],[90,80,70,50])
print(tuple)
del tuple[4][2]
print(tuple)

('prajwal', 'kanchan', 'radha', 'krishna', [1, 2, 3, 4, 5], [90, 80, 70, 50])
('prajwal', 'kanchan', 'radha', 'krishna', [1, 2, 4, 5], [90, 80, 70, 50])

In [48]:
#update list inside Tuple
tupl=([5,6,7],[10,11,12],13,14)
print(tupl)
print(len(tupl))
print(type(tupl[0]))

([5, 6, 7], [10, 11, 12], 13, 14)
4
<class 'list'>

In [52]:
#Convert list in to tuple and tuple in to list:
tuple=(1,2,3,4,5,6)
print(tuple)
print("Length of the tuple:",len(tuple))
list1=list(tuple)
print(list1)

(1, 2, 3, 4, 5, 6)
Length of the tuple: 6
[1, 2, 3, 4, 5, 6]

In [60]:
a="Coder Prajwal"
b="Miss Kanchan"
print("Well come in Uk %s and %s" %(a,b))

Well come in Uk Coder Prajwal and Miss Kanchan

In [63]:
#Union in set
a={1,2,3,4,5,6,7}
b={5,6,7,8}
c=a|b
print(c)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6, 7, 8}
{5, 6, 7}
{1, 2, 3, 4}

In [3]:
import sys
list=[1,2,3,4,"ram","shyam","sita","gita"]
tuple=(1,2,3,4,"ram","shyam","sita","gita")
print("size of list:",sys.getsizeof(list))
print("size of tuple:",sys.getsizeof(tuple))

size of list: 120
size of tuple: 104